$color: darkred;

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

.title{
    color: $color;
    font-size: 46px;
}

.subTitle{
    font-size: 32px;
}
